@import url(https://fonts.googleapis.com/css?family=Jura:300,700&subset=cyrillic);html,
body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-text-size-adjust: none;
}
p {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}
div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: 'Jura', sans-serif;
  background-color: #f8f8f8;
  background-image: url("./images/bg.svg");
  background-position: center;
  background-size: cover;
}
body #app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 90%;
  min-width: 320px;
  margin: auto;
}
@media (min-width: 720px) {
  body #app {
    width: 500px;
  }
}
.search-form {
  position: relative;
  margin: 20px 0;
  -webkit-box-shadow: 1px 3px 10px rgba(17,17,17,0.5);
          box-shadow: 1px 3px 10px rgba(17,17,17,0.5);
  -webkit-animation: fade-in 0.4s forwards;
          animation: fade-in 0.4s forwards;
}
.search-form>* {
  display: inline-block;
  font-size: 24px;
  color: #5b5b5b;
}
.search-form:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 45px;
  background: -webkit-gradient(linear, right top, left top, from(#fff), to(rgba(255,255,255,0.85)));
  background: linear-gradient(to left, #fff, rgba(255,255,255,0.85));
  z-index: 1;
}
.search-form input {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 10px;
  font-size: 24px;
  line-height: 1.5;
  font-family: 'Jura', sans-serif;
  background-color: #fff;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}
.search-form input:focus {
  outline: none;
}
.search-form button {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
  font-size: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 2;
}
.search-form button:focus,
.search-form button:hover {
  outline: none;
  opacity: 1;
}
.search-form button svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.pac-container {
  -webkit-box-shadow: 1px 3px 10px #111;
          box-shadow: 1px 3px 10px #111;
  border-radius: 0;
  z-index: 0;
}
.pac-container:after {
  display: none;
}
.pac-item {
  padding: 0 5px;
}
.pac-item-query {
  font-size: 17px;
  padding-left: 6px;
  padding-right: 5px;
  color: #111;
}
.pac-matched {
  font-size: 17px;
  font-weight: normal;
}
.pac-icon {
  display: none;
}
.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  color: #101010;
  background: -webkit-gradient(linear, left top, right top, from(#009ccb), to(rgba(0,246,46,0.95)));
  background: linear-gradient(to right, #009ccb, rgba(0,246,46,0.95));
  -webkit-box-shadow: 1px 3px 10px #111;
          box-shadow: 1px 3px 10px #111;
  -webkit-animation: fade-in 0.4s forwards;
          animation: fade-in 0.4s forwards;
}
.widget>* {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.widget__inner {
  position: relative;
  padding: 10px;
  margin: 15px auto;
}
.widget__inner:nth-of-type(1) {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 0;
}
.widget__inner:nth-of-type(1) .icon {
  font-size: 95px;
  color: #fff;
  text-shadow: 1px 2px 1px #212121;
}
.widget__inner:nth-of-type(1) p {
  width: 100%;
  text-align: right;
}
.widget__inner:nth-of-type(1):after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 1px;
  border-right: 1px dashed #5b5b5b;
}
.widget__inner:nth-of-type(2) {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.widget__inner:nth-of-type(2) .temp {
  font-size: 75px;
  line-height: 1.1;
  font-weight: bold;
}
.widget__inner:nth-of-type(2) .temp-range {
  font-size: 21px;
}
.widget__inner:nth-of-type(3) {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.widget__inner:nth-of-type(3) p {
  font-size: 21px;
  line-height: 1.5;
}
.widget__inner:nth-of-type(3) p span:not(.icon) {
  font-size: 14px;
}
.widget__inner:nth-of-type(3) i {
  width: 30px;
  margin-right: 5px;
  text-align: center;
}
.icon {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
}
p.status {
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}
.forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.forecast__item {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-preferred-size: calc(20% - 10px);
      flex-basis: calc(20% - 10px);
  margin: 10px 10px 0 0;
  padding: 5px;
  text-align: right;
  background-color: rgba(255,205,1,0.95);
  opacity: 0;
  -webkit-animation: fade-in 0.4s forwards;
          animation: fade-in 0.4s forwards;
}
.forecast__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-box-shadow: 1px 3px 10px #111;
          box-shadow: 1px 3px 10px #111;
}
.forecast__item:last-of-type {
  margin-right: 0;
}
.forecast__item:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.forecast__item:nth-of-type(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.forecast__item:nth-of-type(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.forecast__item:nth-of-type(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.forecast__item p.weekday {
  position: absolute;
  font-weight: bold;
  font-size: 21px;
  top: 10px;
  left: 5px;
}
.forecast__item p.date {
  position: absolute;
  font-size: 14px;
  top: 35px;
  left: 5px;
}
.forecast__item p.date span {
  font-size: 12px;
}
.forecast__item p.temp-range {
  font-size: 21px;
  font-weight: bold;
}
.forecast__item .icon {
  font-size: 25px;
  height: 45px;
  margin-bottom: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px #212121;
}

/*# sourceMappingURL=styles.css.map*/