@import 'normalize'
@import 'variables'
@import 'animation'


body
	font-family: $font-family-default
	background-color: #F8F8F8
	background-image url('./images/bg.svg')
	background-position center
	background-size cover

	#app
		display flex
		flex-direction column
		justify-content center
		width 90%
		height 90%
		min-width 320px
		margin auto
		@media(min-width 720px)
			width 500px


@import 'search'
@import 'widget'
@import 'forecast'