@import url('https://fonts.googleapis.com/css?family=Jura:300,700&subset=cyrillic')


$font-family-default 	= 'Jura', sans-serif
$font-size-default 		= 17px

$color-bg-main			= #FFCD01
$color-bg-add			= #009CCB
$color-text-main		= #5b5b5b
$color-text-add 		= #101010